<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:arg name="prefix" default=""/>
  <xacro:property name= "prefix" value="$(arg prefix)"/>
  <!-- Quadrotor Aerodynamics Plugin -->
  <xacro:macro name="bebop_aerodynamics">
    <gazebo>
      <plugin name="bebop_aerodynamics" filename="libhector_gazebo_quadrotor_aerodynamics.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>${prefix}base_link</bodyName>
        <frameId>${prefix}base_link</frameId>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>

