<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:arg name="prefix" default=""/>
<xacro:property name= "prefix" value="$(arg prefix)"/>

  <!-- Quadrotor Sensor Plugins -->
  <xacro:macro name="bebop_sensors">

    <gazebo reference="${prefix}camera_base_link">
      <sensor type="camera" name="bebop_camera_sensor">
        <update_rate>50.0</update_rate>
        <camera name="front">
          <horizontal_fov>1.570796</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>100</far>
          </clip>
        </camera>
        <plugin name="bebop_camera_controller" filename="libgazebo_ros_camera.so">
        <cameraName>${prefix}camera</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>50.0</updateRate>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${prefix}camera_optical</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <xacro:property name="deg_to_rad" value="0.01745329251994329577" />

        <gazebo>
          <plugin name="bebop_gps_sim" filename="libhector_gazebo_ros_gps.so">
            <updateRate>4.0</updateRate>
            <bodyName>${prefix}base_link</bodyName>
            <frameId>${prefix}base_link</frameId>
            <topicName>fix</topicName>
            <velocityTopicName>fix_velocity</velocityTopicName>
            <referenceLatitude>37.9707</referenceLatitude>
            <referenceLongitude>23.7294</referenceLongitude>
            <drift>5.0 5.0 5.0</drift>
            <gaussianNoise>0.01 0.01 0.01</gaussianNoise>
            <velocityDrift>0 0 0</velocityDrift>
            <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>
          </plugin>

          <plugin name="bebop_groundtruth_sim" filename="libgazebo_ros_p3d.so">
            <updateRate>100.0</updateRate>
            <bodyName>${prefix}base_link</bodyName>
            <topicName>odom</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>$(arg world_frame)</frameName>
          </plugin>

        </gazebo>
  </xacro:macro>

</robot>
